
# Python
__pycache__/
*.py[codz]
*$py.class

# macOS
.DS_Store

# datasets
*.csv

# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bcf
*.run.xml
*.toc
*.lot
*.lof
*.nav
*.snm
*.bbl-SAVE-ERROR